/*Author: C.Kelly
Date:2014-NOV-17
Description:Layout css styles used for the site */

/*IPAD
==========================================================*/
/*@media only screen and (max-width: 769px) {
*/
::-webkit-scrollbar {
	width: 0px;
}
input {
	font-size: 1em;
	border:	none;
	width: 100%
}
input:focus {
	outline: none;
}
textarea:focus {
	outline:none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	margin-top: 120px;
	width: 100%;
	margin-left: -2px;
	margin-bottom: 135px;
	color: black;
}
.day {
	color: black !important;
	/*background-color: yellow;*/
	background-color: #D8D8D8;
}
.night {
	color: #FAFAFA !important;
	/*background-color: gray;*/
	background-color: #424242;
}
table {
	overflow-y: scroll;
	width: 100%;
}
tbody {
	overflow-y:scroll;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 65px;
	height: 70px;
	/*background-color: gray;*/
	font-size: 1.6em;
	display: block;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 50px;
	height: 70px;
	/*background-color: gray;*/
	display: block;
	font-size: 1.5em;
}
.header div {
	margin-top: -10px;
}
.left-button {
	float:left;
	display: inline-block;
	margin-left: 30px;
}
.view-title {
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	width: 60%;
	text-align: right;
	margin-left: 2px;
}
.more-title {
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	width: 100%;
	text-align: center;
}
.add-title {
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	width: 48%;
	text-align: center;
	margin-top: -30px !important;
}
.cal-title {
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	width: 100%;
	text-align: center;
}
.customer-title {
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	text-align: right;
	width: 67%;
}
.driver-title {
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	text-align: right;
	width: 60%;
}
.right-button {
	float: right;
	display: inline-block;
	margin-top: -6px;
	margin-right: 20px;
}
.add {
	width:30px;
	text-align: center;
	color: #04B404;
	font-size: 1.7em;
	line-height: 23px;
}
.button {
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 7px;
	padding: 40px 0px 10px 0px;
	margin-top: -45px !important;
	width: 20%;
	height: 82%;
	text-align: center;
}
.button2 {
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 7px;
	margin-top: -12px;
	width: 30%;
	height: 135%;
	text-align: center;
}
.footer div {
	background-position: 50% 35px;
	line-height: 130px;
	margin-top: -59px;
	padding-top: 25px;
	display: inline-block;
}
.bookings {
	background: url(../images/bookmark.png) no-repeat;
	float: left;
	margin-left: 20px;
}
.calendar {
	background: url(../images/calendar.png) no-repeat;
	margin-left: 5px;
	/*color: white;*/
}
.more {
	background: url(../images/layer.png) no-repeat;
}
.title-field {
	padding-left: 40px;
	font-size: 1.4em;
	background-color: #D8D8D8;
	font-style: bold;
}
.field {
	padding-left: 40px;
	font-size: 1.8em;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: gray;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 25px;
}
.arrow {
	float: right;
	margin-right: 20px;
	color: #D8D8D8;
}
.mode {
	cursor: pointer;
}
.button input{
	background-color: inherit;
	color: inherit;
}
.done {
	background-color: none;
	padding: 10px 0px 10px 0px;
	width: 20%;
	margin-top: 10px !important;
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 7px;
	text-align: center;
}
/*}*/

/*IPHONE
==========================================================*/
@media only screen and (max-width: 474px) {

input {
	font-size: 1em;
}
body {
	margin-top: 105px;
	margin-bottom: 110px;
}
.header {
	height: 55px;
}
.header div {
	
}
.left-button {
	margin-left: 5px;
}
.right-button {
	margin-right: 5px;
}
.view-title {
	font-size: 1.3em;
	width: 63%;
}
.add-title {
	font-size: 1.1em;
	width: 35%;
	text-align: center;
	line-height: 23px;
	width: 55%;
}
.more-title {
	font-size: 1.3em;
}
.cal-title {
	font-size: 1.3em;
}
.customer-title {
	font-size: 1.3em;
}
.driver-title {
	font-size: 1.3em;
}
.footer {
	font-size: 1.1em;
	height: 45px;
}
.footer div {
	padding-top: 35px;
	line-height: 69px;
	background-position: 50% 20px;
	width: 31%;
}
.button {
}
.button input {
	background-color: gray !important;
}
.field {
	font-size: 1.5em;
}
.bookings {
	margin-left: 0px;
}
.calendar {
	margin-left: 2%;
	min-width: 33%;
}
.more {
	float: right;
}
.add .button {
	width: 24%;
	margin-top: -48px !important; 
}
}